.DS_Store
.atom/
.idea
.packages
.dart_tool/
.pub/
build/
packages/**/ios/
packages/**/android/
doc/api/
pubspec.lock
.flutter-plugins
*.iml
coverage/
.test_coverage.dart
*.log
coverage_badge.svg

ios/Flutter/flutter_export_environment.sh

packages/expression_language/test/report.json

!packages/**/example/ios/
!packages/**/example/android/
packages/flutter_dynamic_forms_components/example/ios/Flutter/flutter_export_environment.sh
