language: dart
os:
  - linux
sudo: required
dist: trusty
dart:
- 2.6.0
addons:
  chrome: stable
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++6
      - fonts-droid
before_script:
  - git clone https://github.com/flutter/flutter.git -b stable --depth 1
  - ./flutter/bin/flutter doctor
script:
  - cd packages/expression_language
  - pub get
  - pub run test
  - pub run test_coverage
  - cp coverage/lcov.info ../../expression_language.lcov
  - cd ../dynamic_forms
  - pub get
  - pub run test
  - pub run test_coverage
  - cp coverage/lcov.info ../../dynamic_forms.lcov
after_success:
  - bash <(curl -s https://codecov.io/bash)  
cache:
  directories:
    - $HOME/.pub-cache
